extends ./layout
block content
    section#error
        div.container
            div.text-center
                h1= message
                h5 Page not found
                div.start
                    a(href='/') back to homepage
            if error.stack
                div
                    h2= error.status
                    pre #{error.stack}
